{% extends 'homepage/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!-- only in thsi page -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<!-- only in thsi page -->

<!-- only in this page 2 -->
    <!-- Fotorama from CDNJS, 19 KB -->

    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
<!-- only in this page 2 -->

    <!-- Tour Details -->
    <div class="spicer_section"></div>
   <section id="single_main_banner">
       <div class="main_color col-lg-9 col-md-12">
        
            <div class="single_inner">
               <div class="row no-gutters">
                   <div class="left_side col-lg-5">
                    
                         
                         <div class="fotorama"
                            data-height="600"
                            data-nav="thumbs"
                            data-fit="cover">
                         <a href="{{ accommodation.picture1.url }}">
                             <img src="{{ accommodation.picture1.url }}" width="144" height="96"></a>
                         <a href="{{ accommodation.picture2.url }}">
                             <img src="{{ accommodation.picture2.url }}" width="144" height="128"></a>
                         <a href="{{ accommodation.picture3.url }}">
                           <img src="{{ accommodation.picture3.url }}" width="144" height="128"></a>
                       </div>
                         
                       
                       </div>
                  
                   <div class="right_side col-lg-7">
                       <h2>{{ accommodation.name }}</h2>
                       <p>{{ accommodation.description }}</p>
                     <div class="sections">
                         <!-- bedroom -->
                         <div class="section_inner">
                             <i class="fas fa-bed"></i>
                             <h6>Bedroom</h6>
                             <div class="list_icon">
                                 <ul>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Air conditioning</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Washer</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Dryer</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Free parking on premises
                                        </span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Cable TV
                                        </span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Wireless Internet
                                        </span>
                                     </li>
                                     
                                 </ul>
                             </div>
                         </div>
                         <!-- kitchen  -->
                         <div class="section_inner">
                            <i class="fas fa-sink"></i>
                             <h6>Kitchen</h6>
                             <div class="list_icon">
                                 <ul>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Heating</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Shampoo</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Essentials</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>TV</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Internet </span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Air conditioning</span>
                                     </li>
                                     
                                 </ul>
                             </div>
                         </div>
                         <!-- bathroom -->
                         <div class="section_inner">
                            <i class="fas fa-restroom"></i>
                             <h6>Bathroom</h6>
                             <div class="list_icon">
                                 <ul>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Heating</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Shampoo</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Essentials</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>TV</span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Internet </span>
                                     </li>
                                     <li>
                                         <i class="fas fa-check"></i>
                                         <span>Air conditioning</span>
                                     </li>
                                     
                                 </ul>
                             </div>
                         </div>
                     </div>
                   </div>
               </div>
         
        </div>
       </div>
     
   </section>
    <!-- endTour Details  -->

   <!-- banner memorey -->
   <section id="banner_memory">
       <div class="container">
           <div class="section_inner">
           
                <h2>We create memorable experiences  </h2>
                <p>An exquisite luxury hotel, offering old-world charm, opulent colonial-era suites, an excellent choice of restaurants</p>
            
            </div>
       </div>
   </section>
   <!-- banner memorey -->




    <section>
        {% for room in rooms %}
        <div class="roomn">
           
            <div class="yourrom">
                <div class="container">
                <div class="col-md-12 col-sm-12">
                    <p class="number_room" style="display: none;"> {{ room.room_number }} </p>
                      <div class="row">
                        
                        <div class="col-md-5 col-sm-6">
                          <div class="card-body twin_room">
                              <p class="room_id" style="display: none;">{{ room.id }} </p>
                              <h2 style="display: none;">{{ accommodation.name }}</h2>
                            <h2 class="card-title titles">{{ room.get_room_type_display }}</h2>
                              <ul class="descprice">
                                  <li>
                                      <i class="fas fa-dollar-sign"></i>
                                      <span>Price:</span>
                                      <span class="price">{{ room.price }}</span>
                                  </li>
                                  <li>
                                      <i class="far fa-building"></i>
                                     <span>Room type:</span>
                                      <span class="">{{ room.get_room_description_display }}</span>
                                  </li>

                                   <li>
                                      <i class="fas fa-baby"></i>
                                     <span>Child:</span>
                                      <span>{{ room.family }}</span>
                                  </li>

                                  <li>
                                      <p></p>
                                  </li>

                                  <li>
                                    
                                      <div class="addTocart">
                                           add to cart
                                              <i aria-hidden="true" class="fas fa-angle-double-right"></i>
                                      </div>
                                    


                                  </li>
                              </ul>
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-6 hotelimage_nice">
                             <!-- <img src="{{ room.id }}" alt="..."> -->
                             <div id="{{ room.id }}" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="https://images.unsplash.com/photo-1584622781564-1d987f7333c1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZSUyMGludGVyaW9yfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="First slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIYipmursDDBHDXEW5K-UOWuLfe-7dCZq3YGJZPfWIlXvyfXFbCo40hOh5Az6nLhPSU0g&usqp=CAU" alt="Second slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="https://i.pinimg.com/474x/4d/9d/d6/4d9dd658da8a62f5f9726c903af2be98--kerala-home-design-home-design-floor-plans.jpg" alt="Third slide">
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#{{ room.id }}" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#{{ room.id }}" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div id="hidden_div" style="display: none;">
            <div class="overlay" style="background-color: #000000c9; height:100vh; width: 100vw; position: fixed; z-index: 99; top:0; left:0">
        
            </div>
            <div id="go_to">
              <div class="cart_page" >
                <span>✓ Your item was added to cart</span>
             
             
             </div>
             
             <div class="checkout_pagessss" id="checkout_form">
              <a href="{% url 'personalTour:archivecar' %}" class="go" >Add a car  </a> 
            
               <button type="submit">Go To Checkout</button>
               <span  onclick="clearAll()">X</span>
             </div>
          
             </div>
        
          </div>
      
        </div>
    </section>



    <!-- testimonial carousel -->
    <div class=" registerbootonsize">
    <section id="testimonial carousel">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel client-testimonial-carousel">
                    {% for review in reviews %}
                    {% if review.permition %}
                    <div class="single-testimonial-item">
                        <div class="image">
                        <img src="{% static 'images/PR-021-SI-01_05_12-539.png' %}" alt="">
                        </div>
                       
                            <div class="description">
                                <h6>{{ review.review_name }}</h6>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <p>{{ review.comment }}</p>
                            </div>
                       
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
   
</div>

    </section>
    <div class="spicer_section"></div>
    <!-- testimonial carousel -->
<!--write review-->
<section id="faq_question">
        <div class="container">
            <div class="Question_inner single_review">
                <h2>{% trans 'Write Review' %}</h2>
                <div class="form_faq">
                    <form action="{% url 'personalTour:accommodationreview' accommodation.id %}" method="Post">
                        {% csrf_token %}

                        <div >
                             <label for="Question">Name</label>
                              <input type="text" class="form-control"  name="review_name"
                                     placeholder="Enter your name" >
                            <label for="Question">Your Review</label>
                             <textarea name="comment" class="form-control " id="Question"
                                       placeholder="Here you can leave your question"></textarea>
                        </div>
                        <div class="Send">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<!--write review-->
<!-- bottom booking -->

    </div>
<!-- bottom booking -->
    <!-- footer -->
<!-- cart Items -->
<div class="cart_full">
    <section id="cart_items" data-toggle="modal" data-target="#modal_aside_right">
        <div class="inner">
            <p> <i class="fas fa-luggage-cart" style="margin-right:10px"></i><span>2 </span> Items In cart</p>
        </div>
      <!-- Modal -->

    </section>

      </div>
    <!-- cart Items -->


<!-- only in this page -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<!-- fotorama -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<!-- fotorama -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{% static 'js/manual/testimonial.js' %}"></script>
<script src="{% static 'js/manual/addtocart.js' %}"></script>


<!-- only in this page -->
 
{% endblock %}