{% extends 'homepage/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<!-- fixed left_side_bar steps -->
<div id="fixed-steps">
    <div>
      <a href="#" class="fixed step_1 active" target="_blank">
          1 Step </a>
    </div>
    <div>
      <a href="#" class="fixed step_2" target="_blank">
          2 Step </a>
    </div>
    <div>
      <a href="#" class="fixed step_3" target="_blank">
          3 step </a>
    </div>
    <div>
      <a href="#" class="fixed step_4" target="_blank">
          4 step </a>
    </div>
    <!-- <div>
      <a href="#" class="fixed step_5" target="_blank"> 
          5 step </a>
    </div>
    <div>
      <a href="#" class="fixed step_6" target="_blank">
          6 Step </a>
    </div> -->
  </div>
<!-- fixed left_side_bar steps -->
    <!-- Main Filter -->
    <div class="spicer_section_20"></div>
    <section id="personal_archive">
      <div id="Main_filter">
          <div class="container">
              <div class="Section_inner">
                  <div class="row">
                      <div class="Destination_section col-lg-12 col-sm-12" style="padding-right: 0px!important;">
                          <form action="" class="form_layers">
                              <div class="row" style="width: 100%;">
                              <div class="choose_form Destination col-lg-2 col-md-12">
                                  <label for="Destination">Destination</label>
                                  <select name="Destination" class="selectpicker form-control" id="Destination">
                                      <option value="Georgia">Georgia</option>
                                  </select>
                              </div>
                            
                              <div class="choose_form Departure_Date col-lg-3 col-md-12">
                                  <label for="Departure_Date">Start Departure Date</label>
                                
                                      <input class="form-control date_input" id="textfield7" name="Departure_Date" type="date">
                                  
                              </div>
                              <div class="choose_form Departure_Date col-lg-3 col-md-12">
                                <label for="Departure_Date">End Departure Date</label>
                              
                                    <input class="form-control date_input" id="textfield8" name="Departure_Date" type="date">
                                
                            </div>
                            <div class="choose_form length_member col-lg-2 col-md-12">
                              <div class="Guests_single_hotel" style="width: 100%;">
                                <label for="" style="    font-size: 13px;">The Number Of Traveler</h6>
                                  <div class="dropdown" style="margin-top: 17px;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false">
                                      <span>Adult: </span> <span id="room"> 0</span>
                                      <span> Children :</span> <span id="adult"> 0</span>
                                      <!-- <span> Room :</span> <span id="rooms"> 0</span> -->
                                    </button>
                                    <div class="dropdown-menu keep-open" aria-labelledby="dropdownMenuButton"
                                      style="width: 285px;">
                                      <div class="dropdown-item">
  
                                        <div class="rooms_dropdown_ranger">
                                          <div class="rooms_choise_text">
                                            <h6>Adults</h6>
                                          </div>
                                          <div class="calculation_choise_numb">
                                            <div class="value-button" id="decrease" onclick="decreaseValue()"
                                              value="Decrease Value">-</div>
                                            <input type="number" id="number" value="0" disabled
                                              style="background: transparent; color: black;" />
                                            <div class="value-button" id="increase" onclick="increaseValue()"
                                              value="Increase Value">+</div>
                                          </div>
                                        </div>
                                      </div>
  
  
                                      <div class="dropdown-item">
  
                                        <div class="rooms_dropdown_ranger">
                                          <div class="rooms_choise_text">
                                            <h6>Children</h6>
                                          </div>
                                          <div class="calculation_choise_numb">
                                            <div class="value-button" id="decrease"
                                              onclick="decreaseValuee()" value="Decrease Value">-</div>
                                            <input type="number" id="numbers" value="0" disabled
                                              maxlength="10"
                                              style="background: transparent; color: black;" />
                                            <div class="value-button" id="increase"
                                              onclick="increaseValuee()" value="Increase Value">+</div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="dropdown-item">
  
                                        <div class="rooms_dropdown_ranger">
                                          <div class="rooms_choise_text">
                                            <h6>Room</h6>
                                          </div>
                                          <div class="calculation_choise_numb">
                                            <div class="value-button" id="decrease"
                                              onclick="decreaseValueee()" value="Decrease Value">-</div>
                                            <input type="number" id="numberss" value="0" disabled
                                              maxlength="10"
                                              style="background: transparent; color: black;" />
                                            <div class="value-button" id="increase"
                                              onclick="increaseValueee()" value="Increase Value">+</div>
                                          </div>
                                        </div>
                                      </div>
  
  
                                    </div>
                                  </div>
                              </div>
                            </div>
                                <div class="submit_button col-lg-2 col-md-12">
                                  <button type="submit" class="form-control" >Actualized</button>
                              </div>
                              </div>
                                  <div id="myModal" class="modal">
  
                                      <!-- Modal content -->
                                      <div class="modal-content">
                                      <span class="close">&times;</span>
                                      <p>the number of Bookytriper being more than 10, please contact our services at 0X XX XX XX XX or schedule a call
                                          with a Booky administrator&quot</p>
                                      </div>
                                  
                                  </div>
  
                              
                          </form>
                      </div>
                   
          
  
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 " >
                <form action="">
                    <div class="sort">
                        <label for="Sort_BY">Sort </label>
                        <select name="sort_price" class="form-control"  id="">
                          <option value="">By Rating</option>
                        </select>
                    </div>
                </form>
            </div>
          </div>
          
      </div>
      
      </section>
    <!-- en Main FIlter -->

    <!-- main section_archive -->
    <div class="spicer_section_20"></div>
    <section id="main_section_archive">
        <div class="container">
            <div class="section">
                <div class="row">
                    <!-- left filter -->
                    <div class="column_left col-lg-3 col-md-12">
                        <div class="section_column_inner">
                            <h4>Filter</h4>
                            <div class="divider_main_color"></div>
                            <div class="filter_section_rate">
                                <form action="">
                                    <div class="rating">
                                        <legend>Start Rating</legend>
                                        <div class="rating_inner">
                                            <input type="checkbox" name="rating" class="form-group">
                                            <label for="filter_rating">1 Star</label>
                                        </div>
                                        <div class="rating_inner">
                                            <input type="checkbox" name="rating" class="form-group">
                                            <label for="filter_rating">2 Star</label>
                                        </div>
                                        <div class="rating_inner">
                                            <input type="checkbox" name="rating" class="form-group">
                                            <label for="filter_rating">3 Star</label>
                                        </div>
                                            <div class="rating_inner">
                                                <input type="checkbox" name="rating" class="form-group">
                                                <label for="filter_rating">4 Star</label>
                                            </div>
                                            <div class="rating_inner">
                                                <input type="checkbox" name="rating" class="form-group">
                                                <label for="filter_rating">5 Star</label>
                                            </div>
                                    </div>

                                    <!-- style -->
                                   
                                    <div class="Filter_button">
                                        <a href=""> Filter</a>
                                   </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- result filter -->
                    <div class="column_right personal_right col-lg-9 col-md-12">
                        <!-- accomodation -->
                        <div class="section_inner" id="accomodations_section">
                        <div class="column_right_header" id="accomodation_section_inner">
                            <!-- <div class="inner_section">
                                <a href="">
                                <h3 class="active">Step 1: <span>Choose Accomodation 
                                    <i class="fas fa-angle-double-right" style="position:relative; left:4px; "></i>
                                </span></h3>
                                </a>
                                <a href="">
                                <h3 class="active">Step 2: <span>Choose Car </span></h3>
                                </a>
                            </div> -->
                        </div>
                        {% for car in cars %}
                        <div class="sub_main_column" >
                            <div class="row wrap_text">
                                <div class="col-lg-6 col-md-12">
                                    <div class="title">
                                        <a href="{% url 'personalTour:singlecar' car.id %}"><h3>{{ car.mark }}</h3></a>
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="list_items">
                                      <ul class="list_item_ul">
                                          <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>{{ car.destination.get }}</span>
                                          </li>
                                          <li>
                                            <i class="fas fa-hand-holding-usd"></i>
                                            <span>{% widthratio car.price 4 1 %} EUR</span>
                                          </li>
                                      </ul>
                                    </div>

                                    <div class="description">
                                        <p>{{ car.description }}</p>
                                    </div>
                                    <div class="addTocart">
                                         <a href=""> Add To Cart</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="right_side">
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="See_more">
                                                  <a href="">  Read More  </a>

                                                  </div>
                                              <div class="carousel-item active">
                                                <img class="d-block " src="{{ car.picture1.url }}" alt="First slide">
                                              </div>
                                              <div class="carousel-item">
                                                <img class="d-block " src="{{ car.picture2.url }}" alt="Second slide">
                                              </div>
                                            </div>
<!--                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
<!--                                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                              <span class="sr-only">Previous</span>-->
<!--                                            </a>-->
<!--                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
<!--                                              <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                              <span class="sr-only">Next</span>-->
<!--                                            </a>-->
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                        </div>

                        <!-- cart -->
                    </div>
                    <!-- end result filter -->
                </div>
            </div>
        </div>
    </section>
    <!-- main section_archive -->

<!-- cart Items -->

  </div>
<!-- cart Items -->

{% endblock %}