{% extends 'homepage/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
  img.card_img {
    width: 66px;
}
.cartpages .cart table tr td {
    text-align: center;
    height: 84px;
    box-shadow: 1px 0px 18px 0px #0000001f;
}
.custom-control-input:checked ~ .custom-control-label::before{
  border-color: #DFB610;
background-color: #DFB610;
}
.themed_product img{
  width: 100%;
}
.description{
  margin-top: 10px;
}
.description p{
  margin-bottom: 5px;
}
.product_inner{
  border-radius: 11px;
display: flex;
box-shadow: 2px 3px 13px 0px #0000000f;
overflow: hidden;
}
ul.list-group.mb-3 {
  margin-top: 22px;
 }
 .order_submit_form {
   margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  background-color: #DFB610;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  -webkit-transition: .9s;
  -o-transition: .9s;
  transition: .9s;
}
.order_submit_form:hover{
  color: #fff;
}
.images_pay img{
  width: 13%;
}
.images_pay{
  width: 100%;
  margin-top:25px;
}
.billing_address label{
  margin:10px 0 5px;
}
.billing_address input{
  width: 80%;
}
.product_inner h2{
  padding: 15px 0 0;
  font-size: 18px;
}
.main_checkout{
  box-shadow: 1px 6px 13px 8px #00000012;
  width: 100%;
  margin: 25px auto;
  padding: 30px 10px;
  border-radius: 15px;
}
</style>
    <div class="container">
        <div class="py-5 text-center">
          
          <h2>Checkout Page</h2>
          <p class="lead"></p>
        </div>
        <form method="POST" action="{% url 'personalTour:personalCheckout' %}" style="padding: 0 25px">
          {% csrf_token %}
          {{ formset.management_form }}
        <div class="row main_checkout">
          <div class=" col-md-12 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center ">
              <h4 class="mb-3">Your Cart</h4>
              <span class="badge badge-secondary badge-pill cart_number"></span>
            </h4>
            <h4 class="mb-3">Billing address</h4>
           

            <ul class="list-group mb-3">
              <div class="checkout_pages">
                {% for room, form in room_dict.items %}
                <div class="items" > 
                    <div class="row" style="margin-top:30px;">
                    {% for picture in form.1 %}
                      <div class="col-md-4 left_side"> <img src="{{ picture.picture.url }}"> 
                    {% endfor %}
                     <span class="id_data" style="display:none"> </span>  </div> 
                     <div class="col-md-6 checkfiled">
                      
                      <a href="{% url 'personalTour:checkoutDelete' room.id %}" class="deleteLocalsotrage" ><i class="fas fa-times"></i></a>
                      <!-- <a href="#" class="deleteLocalsotrage" ><i class="fas fa-times"></i></a> -->
                      <div class="cart_tablee">
                
                      </div>
                      
                        <h5 id="test"><input type="hidden"  name="server_id" value="${data.serverid}"> </h5>
                        <div class="description">
                        <div class="column_one">
                         <div class="column_one_inner">
                        <h6>Hotel</h6>
                         <p class="title_room">  {{ room.hotel.hotel_name }}</p>
                          </div>
                          <div class="column_one_inner">
                          <h6>Room Number</h6>
                           <p class="number_room"> {{ room.room_number }} </p>
                          </div>
                          </div>
  
                          </div>
  
  
                      <div class="description">
                        <div class="column_one">
                         <div class="column_one_inner">
                        <h6>Price</h6>
                         <p>  {{ room.price }}</p>
                          </div>
                          <div class="column_one_inner roomtype">
                          <h6>Room Type</h6>
                           <p> {{ room.room_number }} </p>
                          </div>
                          </div>
  
                      </div>
  
                      <div class="description">
                        <div class="column_one">
                         <div class="column_one_inner">
                        <h6>Hotel Address</h6>
                         <p>  {{ room.hotel.hotel_name }}</p>
                          </div>
                          </div>
  
                      </div>
                        
                        <div class="check_field_date">
                          {{ form.0 }}
                        <div>
                          
                         </div>
                          </div> </div>  </div>
             
              <hr>
             {% endfor %}
              <li class="list-group-item d-flex justify-content-between">
                <span>Total(USD)</span>
                <span><strong class="reservation_pricee">{{ total_price }}$</strong></span>
              </li>
            </ul>
            <div class="terms_condition">
            <input required type="checkbox" class="form-group" id="terms_condition">
            <label for="terms_condition">
              I Agree <a href="{% url 'components:privacyPolicy' %}">Terms and Condition</a>
            </label>
            </div>
            <button type="submit" class="btn  order_submit_form">Checkout</button>
            <div class="images_pay">
           <img src="{% static 'images/MasterCard_credit_cards_and_Visa_If_you_apply_for_both.jpg' %}" alt="">
           </div>
          </div>
       
        </div>
      </form>
        </div>

      </div>
      
      <script src="{% static 'js/manual/addtocart.js' %}"></script>
      <script src="{% static 'js/manual/checkoutcart.js' %}"></script>


              
{% endblock %}
